/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: #fff;
}

/* Estilos para la cabecera */
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}

.titulo-principal {
    margin: 0;
    margin-top: 5px;
}

.navegacion-principal ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion-principal li {
    margin-right: 1rem;
}

.navegacion-principal a {
    color: #fff;
    text-decoration: none;
}

.buscador {
    display: flex;
}

.buscador input[type="text"] {
    margin-right: 0.5rem;
}

.acceso a {
    color: #fff;
    margin-left: 0.5rem;
}

/* Estilos para el modo oscuro */
.modo-oscuro body {
    color: #fff;
    background-color: #222;
}

.modo-oscuro .cabecera {
    background-color: #fff;
    color: #000;
}

.modo-oscuro .navegacion-principal a {
    color: #000;
}

.modo-oscuro .acceso a {
    color: #000;
}

/* Estilos para la página principal */
.pagina-principal {
    position: relative;
    height: 100vh;
}

.imagen-fondo {
    position: absolute;
    top: -35%;
    /* Desplazamiento de la imagen de fondo */
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagen.fondo.png');
    background-size: cover;
    opacity: 5;
    z-index: -1;
}

.contenedor-texto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* texto principal de la WEB */
.texto-principal {
    text-align: center;
    margin-top: 495px;
    /*Desplazamiento del texto pricipal*/
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #fff;
}

/* Estilos para el logo */
.logo {
    background-image: url('Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    /* ajustar al tamaño del logo */
    width: 50px;
    /* ajustar al tamaño del logo */
}

/* Estilos para el contenedor principal */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el contenedor del contenido principal */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: auto;
    max-width: 1200px;
    padding: 50px;
    margin-left: 0px;
}

/* Estilos para el formulario de contacto */
.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto; /* agregar margen horizontal auto */
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
      
    .formulario-contacto label,
    .formulario-contacto input,
    .formulario-contacto textarea {
        margin: 10px 0;
        width: 100%;
    }

    .formulario-contacto label {
        font-weight: bold;
    }

    .formulario-contacto input,
    .formulario-contacto textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
    }

    .formulario-contacto textarea {
        height: 150px;
    }

    .formulario-contacto button {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .formulario-contacto button:hover {
        background-color: #222;
    }

    /* Estilos para la sección de mapa */
    .mapa {
        height: 400px;
        background-color: #222;
    }

    /* Estilos para la sección de datos de contacto en el pie de página */
.datos-contacto {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    color: #fff;
    padding: 0.05rem;
    text-align: left;
  }
  
  footer {
    text-align: center;
    padding: 0.001rem;
    background-color: #222;
    color: #fff;
}
